<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EPS APP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {% load static %}


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'educat/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'educat/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'educat/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'educat/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'educat/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'educat/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'educat/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'educat/css/style-accordion/style.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

  <!-- =======================================================
  * Template Name: iPortfolio - v3.6.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script type="text/javascript">
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</head>
<body>

<!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
 <div id="myDIV" style="display: none"> 
<header id="header">
  
<div class="d-flex flex-column">
      <div class="profile">
        <img src="" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">EPS APP</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      {% include 'educat/logos.html' %}
     {% include 'educat/accordion-menu.html' %}
     <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>EPS APP</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->




        Designed by <a href="#">JENNANI</a>
      </div>
    </div>

  

  </header><!-- End Header -->
</div>
</div>
  <!-- ======= Hero Section ======= --




  <!-- ======= Footer ======= -->
  
  </footer><!-- End  Footer -->
  {% include 'educat/categories.html' %}
</div>



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'educat/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'educat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'educat/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'educat/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'educat/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'educat/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'educat/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'educat/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'educat/vendor/waypoints/noframework.waypoints.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'educat/js/main.js' %}"></script>
  <script src="{% static 'educat/js/js-accordion/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{% static 'educat/js/js-accordion/main.js' %}"></script>


</body>

</html>